#myName {
    font-family: 'Mono Grass', sans-serif;
    font-weight: 100;
}

header {
    background: linear-gradient(45deg, #b8e0b880 25%, transparent 21%), linear-gradient(315deg, #b8e0b880 25%, transparent 21%), linear-gradient(45deg, #b8e0b8 10%, transparent 11%), linear-gradient(315deg, #b8e0b8 10%, transparent 11%), linear-gradient(135deg, #b8e0b880 25%, transparent 21%), linear-gradient(225deg, #b8e0b880 25%, transparent 21%), linear-gradient(135deg, #b8e0b8 10%, transparent 11%), linear-gradient(225deg, #b8e0b8 10%, transparent 11%), radial-gradient(#b8e0b8 20%, transparent 21%);
    background-size: 2em 2em;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
}

.links {
    align-content: center;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}

main {
    width: 100%;
    text-align: center;
}

img {
    width: 8em;
    border-radius: 10em;
    border: dotted;
    padding: 0.5em;
    margin-top: 5em;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7em;
    font-weight: bolder;
    font-size: 1em;
    width: 70%;
    margin: 6em auto 0 auto;
}
.meLinks {
    border: 1px solid black;
    font-family: 'Mono Grass', sans-serif;
    font-weight: lighter;
    margin-top: 0.7em;
}
#workExp {
    width: 100%;
}

iframe {
    width: 100%;
    height: 700px;
}

#firstH3 {
    margin-top: 40vh;
}

h3 {
    font-family: 'Mono Grass', sans-serif;
    font-weight: lighter;
    margin-top: 4em;
}

#githubRepos{
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}
.listRepos{
    background-color: rgb(211, 211, 211, 0.2);
    width: 10em;
    padding: 0.8em;
    border-radius: 2em;
}


@media (min-width: 700px) and (max-width: 1000px) {
    .hide {
        display: none;
    }

    #firstH3,
    h3 {
        margin-top: 2em;
    }

    #textContent {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    #contactMe {
        order: 1;
        width: 13em;
        margin: auto;
    }

    #aboutMe {
        order: 3;
        width: 50%;
        margin: auto;
    }

    #workExp {
        order: 4;
        width: 75%;
        margin: auto;
    }

    img {
        width: 30%;
    }

    #githubRepos{
        width: 90%;
    }

}

@media (min-width: 1000px) and (max-width: 1400px) {
    header {
        background-size: 4em 4em;
    }

    .links {
        font-size: 1.5em;
    }

    #myName {
        font-size: 3em;
    }

    img {
        width: 12em;
        margin-left: 2%;
    }

    #imageMe {
        width: 80%;
    }

    main {
        text-align: start;
        width: 90%;
        margin: auto;
    }

    #textContent {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
    }

    .hide {
        display: none;
    }

    #firstH3 {
        margin-top: 0em;
    }

    h3 {
        margin-top: 0em;
    }

    #aboutMe {
        width: 35%;
        order: 2;
        margin: -15em auto 0 auto;
        height: 50%;
    }

    #contactMe {
        order: 1;
        width: 15em;
        height: 8em;
        margin-top: 1em;
        text-align: center;
        margin-left: 2%;
    }

    #workExp {
        order: 3;
        margin-top: -20em;
        width: 35%;
    }

    iframe {
        width: 100%;
        height: 550px;
    }

    #clock {
        order: 3;
        width: 100%;
        margin-top: 2em;
        font-size: 3em;
        height: 1.5em;
        display: block;
    }
    #gthbH{
        margin-top: 3em;
    }
    #githubRepos{
        width: 100%;
    }
}

@media (min-width: 1400px) {
    header {
        background-size: 4em 4em;
    }
    #myName {
        font-size: 3em;
    }
    .links {
        font-size: 1.5em;
    }
    main {
        text-align: start;
        width: 80%;
        margin: auto;
    }
    img {
        width: 12em;
        margin-left: 2%;
    }
    #imageMe {
        width: 80%;
    }

    .hide {
        display: none;
    }

    #firstH3 {
        margin-top: 0em;
    }

    h3 {
        margin-top: 0em;
    }
    #textContent {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
    }
    #contactMe {
        order: 1;
        width: 15em;
        height: 8em;
        margin-top: 1em;
        text-align: center;
    }
    #aboutMe {
        width: 30%;
        order: 2;
        margin: -15em auto 0 auto;
        height: 50%;
    }
    #workExp {
        order: 3;
        margin-top: -20em;
        width: 35%;
    }
    iframe{
        width: 100%;
    }
    #gthbH{
        margin-top: 5em;
    }
    #githubRepos{
        width: 100%;
    }
}