.dark-mode{
    background-color: #25384a;
    color: #f1f2e0;
}

.dark-mode .listRepos{
    background-color: #1a2b3a;
}
.dark-mode a, .dark-mode a:visited{
    color: #f1f2e0;
}

body, .light-mode {
    background-color: #f6f4f2;
    color: #6b7163;
}

header {
    padding-bottom: 3em;
}

#darkmode{
    position:absolute;
    top: 3em;
    right: 1em;
    font-size: 2em;
}
#darkmode:hover{
    cursor: pointer;
}

.links {
    align-content: center;
}

a,
a:visited {
    color: #5b5f55;
    text-decoration: none;
    font-size: 1.3em;
}

main {
    width: 100%;
    text-align: center;
}


#school {
    text-align: center;
    width: 70%;
    margin: auto;
    font-size: 2em;
}

.schoolHeader {
    margin-top: 2em;
}

.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}

.progress {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    width: 0;
    height: 1.5em;
    background-color: #78c87b;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 20px;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

.progress-bar-striped {
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress-bar-animated {
    animation: progress-bar-stripes 1s linear infinite;
}

@keyframes progress-bar-stripes {
    0% {
        background-position: 40px 0;
    }
    100% {
        background-position: 0 0;
    }
}

img {
    width: 8em;
    border-radius: 10em;
    padding: 0.5em;
    margin-top: 3em;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.484);
    margin-bottom: -3em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

img:hover{
    transform: translateY(-30px);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7em;
    font-weight: bolder;
    font-size: 1em;
    width: 70%;
    margin: 6em auto 0 auto;
}


#textContent {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
}

#contactMe{
    order: 1;
    margin-top: -2em;
}

#aboutMe{
    order: 2;
    margin-top: -4em;
}

#workExp {
    width: 100%;
    order: 3;
}

iframe {
    width: 100%;
    height: 700px;
    border-radius: 3em;
}

#firstH3 {
    margin-top: 20vh;
}
h1{
    font-family: 'Mono Grass', sans-serif;
}

h3 {
    font-family: 'Mono Grass', sans-serif;
    font-weight: lighter;
    margin-top: 4em;
}

#githubRepos {
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.listRepos {
    background-color: #f3ece7;
    width: auto;
    max-width: 300px;
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.484);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 20px auto;
}

.listRepos:hover {
    transform: translateY(-15px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.705);
}


@media (min-width: 700px) and (max-width: 1200px) {
    
    .progress{
        width: 80%;
    }
    #firstH3,
    h3 {
        margin-top: 2em;
    }

    #darkmode{
        top: 2em;
        right: 2em;
    }
    #textContent {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
    }

    #contactMe {
        order: 1;
        width: 13em;
        margin: auto;
    }

    #aboutMe {
        order: 3;
        width: 50%;
        margin: auto;

    }

    #workExp {
        order: 4;
        width: 50%;
        margin: auto;
    }

    img {
        width: 100%;
        margin-bottom: 0em;
    }

    #githubRepos {
        width: 90%;
    }

}


@media (min-width: 1200px) {

    #darkmode{
        top: 1em;
        right: 2em;
    }

    #aboutMe,
    #workExp {
        margin-top: 1em !important;
        /* Nollställ margin-top för andra element om nödvändigt */
    }

    .schoolHeader{
        margin-top: 1em;
    }
    .progress{
        width: 70%;
    }
    .progress-container{
        margin-top: -1em;
    }

    .links {
        font-size: 1.5em;
    }

    main {
        text-align: start;
        width: 90%;
        margin: auto;
    }

    #contactMe{
        position: fixed;
        top: 11em;
        left: 3em;
    }

    img {
        width: 12em;
        margin-bottom: 2em;
    }

    #firstH3 {
        margin-top: 0em;
    }

    h3 {
        margin-top: 0em;
    }

    #textContent {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin: auto;
        font-size: 1em;
        margin-left: 2em;
    }

   
    #aboutMe {
        width: 30%;
        order: 2;
        margin: -20em auto 0 auto;
        height: 50%;
    }

    #workExp {
        order: 3;
        width: 35%;
        margin-left: -10em;
    }

    iframe {
        width: 100%;
    }

    #gthbH {
        margin-top: 3em;
    }

    #githubRepos {
        width: 100%;
    }
}